  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed bg-body-tertiary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseChatGPT" aria-expanded="false" aria-controls="collapseChatGPT">
        Research Area
      </button>
    </h2>
    <div id="collapseChatGPT" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body ">
        <%= render "ai_messages/form", ai_message: AiMessage.new, job_listing: job_listing %>
        <% @messages_grouped_by_date.each do |date, messages|%>
          <div class="card p-2 bg-body-tertiary mb-3 group_ai_messages">
            <h5 class="date_ai_messages"><%= date.strftime('%a, %d %b %Y') %></h5>
            <div class="new_ai_messages">
              <%messages.each do |msg|%>
                <%=render "ai_messages/ai_message", ai_message: msg%>
              <%end%>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
