<% if @ai_message.persisted? %>
  var addedMessageHtml = "<%= j(render 'ai_messages/ai_message', ai_message: @ai_message) %>";
  var addedMessage = $(addedMessageHtml);
<% else %>
  var addedMessage = $("<p>Oops! We encountered an error.</p>");
<% end %>

addedMessage.hide();
$(".ai_messages:first").prepend(addedMessage);
addedMessage.slideDown();

$("#ai_body").val("");
