<h1>Editing ai message</h1>

<%= render "form", ai_message: @ai_message, job_listing: @job_listing %>

<br>

<div>
  <%= link_to "Show this ai message", @ai_message %> |
  <%= link_to "Back to ai messages", ai_messages_path %>
</div>
