<h1>Ai Messages</h1>
<% @ai_messages.each do |date, messages| %>
  <div class="card p-2 mb-3">
    <h3><%= date %></h3>
    <% messages.each do |msg| %>
    <div>
      <%=link_to ai_message_path(msg.id)%>
      <%= render "ai_message", ai_message: msg %>
    </div>
  <% end %>
</div>
<% end %>
