<div class="border mb-3">
  <h6 class="m-2">In the last 6 months</h6>
  <div class="d-flex justify-content-evenly text-center">
    <div class="col-4">
      <h6>Applied</h6>
      <h1 class="text-primary">
        <%= six_months_progress %>
      </div>
      <div class="col-4">
        <h6>Interviewed</h6>
        <h1 class="text-success"><%= num_of_interviews_in_six_months %></h1>
      </div>
      <div class="col-4">
        <button class="bg-warning border rounded" data-bs-toggle="modal" data-bs-target="#followUpModal">
          <h6>Low-Engagement Applications</h6>
          <h1 class="text-success"><%=follow_up_list.count.presence || 0%></h1>
        </button>
      </div>

    </div>
    <div>
      <%= area_chart six_months_progress_data, colors: ["#9430ff"] ,download: true, title: "Applied applications in the last 6 months", xtitle: "Total points", ytitle: "Amount of job listings", label: " Applied applications in the last 6 months: " %>
      
    </div>
  </div>
</div>
