<div class="d-flex justify-content-center">
  <iframe src="https://lottie.host/embed/aea9e915-3a1f-433f-a2e7-3def415d7abd/CBzireoxbw.json"  class="w-100" style="height: 500px;"></iframe>
</div>
<p class="about_p_text px-5"><span class="text-uppercase h1">Welcome to 
  <span style="color: var(--app-purple);">Joblogr</span></span>, an innovative app born from my personal transition from a background in customer service and the arts to pursuing a passion in tech as a full-stack developer. This career pivot turned job seeking into my full-time endeavor, unveiling the complexities and disorganization inherent in tracking numerous applications, interview schedules, and research all scattered across various mediums. The overwhelming nature of this process sparked the creation of Joblogr.

Joblogr is the solution to streamline the job search experience. Designed for job seekers of all backgrounds, it centralizes the management of job applications, scheduling, and research into one intuitive platform. Leveraging AI, Joblogr simplifies search efforts and provides analytics to optimize your job-seeking strategy. It's more than just an app; it's a tool to transform the chaotic job search into a structured journey towards your next career opportunity.

My journey into tech, coupled with the challenges faced along the way, inspired Joblogr's creation to assist others in navigating their career transitions more smoothly. Joblogr is here to help you manage your job search efficiently, allowing you to focus on what truly matters—landing your dream job.</p>

