<div class="container">
  <div class="row  ct_nav justify-content-sm-center">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <h3>Job Application Tracker</p>
      <h1 class="landing_h1_text">Effortlessly origanize your job application</h1>
      <p class="landing_p_text">Say goodbye to chaotic spreadsheets. Efficiently track and manage all your job applications in one convenient place. Instantly save job details, contacts, salaries, documents, and more.</p>
      <div class="d-flex justify-content-center">
        <%= link_to "Get started for free", new_user_registration_path, class: "nav-link sign_up" %>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 gradient-background rounded-4 mt-4">
      <div class="landing m-3 m-auto container main_container">
        <%= image_tag("left_demo.png", alt: "product photo", class: "landing_img") %>
      </div>
    </div>
  </div>
  <h5 class="fw-bold mt-4"></h5>
</div>
<div class="row align-self-stretch">
  <% @contents.each do |content|%>
    <%= render "card", content: content%>
  <%end%>
</div>


      <%=render "pages/footer" %>
