<h1>Editing job listing</h1>

<%= render "job_listings/shared/form", locals: {job_listing: @job_listing, board: @board} %>

<br>

<div>
  <%= link_to "Show this job listing", @job_listing %> |
  <%= link_to "Back to job listings", job_listings_path %>
</div>
