<p style="color: green"><%= notice %></p>

<h1>Job listings</h1>

<div id="job_listings">
  <% @job_listings.each do |job_listing| %>
    <div class="card p-2 mb-2">
      <%= render "job_listings/shared/job_listing", job_listing: job_listing %>
    </div>
    <p>
      <%= link_to "Show this job listing", job_listing %>
    </p>
  <% end %>
</div>

<%= link_to "New job listing", new_job_listing_path %>
